<h1>Create a new bookmark to list: <%= @list.name %></h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
<%= f.input :comment %>
<%= f.association :movie %>
<%= f.submit %>
<% end %>
<p></p>

<%= link_to "Return", list_path(@list), class: "btn btn-primary" %>
<%= link_to "Go back to list", lists_path, class: "btn btn-primary" %>
